<div class="container-fluid">
  <app-navbar></app-navbar>
  <section>
    <div class="row mt-5 mb-5">
      <div class="headr col-6">
        <h1>
          Everything <br />
          you need to <br />
          keep your inventory <br />
          in check
        </h1>
        <p class="mb-3" style="font-family: 'Open Sans', sans-serif">
          Get total visibility and control over your in-house and outsourced
          production with manufacturing ERP software thousands of manufacturers
          love.
        </p>
        <button>Sign up to use</button>
        <p style="color: grey">*No credit card required</p>
      </div>
      <div class="col-5 micron">
        <img src="../../assets/ivm.png" alt="" />
      </div>
    </div>
  </section>
  <section class="yellow">
    <div class="row" style="background-color: yellow">
      <div class="logo py-2">
        <ul>
          <li><img src="../../assets/review1.svg" alt="" /></li>
          <li><img src="../../assets/review2.svg" alt="" /></li>
          <li><img src="../../assets/shopify-review.svg" alt="" /></li>
          <li><img src="../../assets/capterra-review.svg" alt="" /></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="row cardsectn">
      <h3>
        Get a live look at your <br />
        manufacturing business
      </h3>
      <p style="font-family: 'Open Sans', sans-serif; font-size: 26px">
        Access the insights you need to move products and make decisions.
      </p>
    </div>
    <div class="row live mt-5">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4 txtcrd">
        <div class="d-flex">
          <img id="svg" src="../../assets/box1.svg" alt="" />
          <p class="cardtxt">Live inventory Management</p>
        </div>
        <p>
          Optimize and control your products <br />
          anywhere, anytime
        </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4 txtcrd">
        <div class="d-flex">
          <img id="svg" src="../../assets/activity.svg" alt="" />
          <p class="cardtxt">Real-time master planning</p>
        </div>
        <p>
          manage production, scheduling, and resources <br />
          in one place
        </p>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4 txtcrd">
        <div class="d-flex">
          <img id="svg" src="../../assets/sliders.svg" alt="" />
          <p class="cardtxt">Real-time master planning</p>
        </div>
        <p>Trace batches at a go</p>
      </div>
    </div>
  </section>
  <section>
    <div class="row" style="background-color: rgb(5, 5, 47); color: white">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <div class="bluebase">
          <p style="font-family: 'Mulish', sans-serif; margin-bottom: 15px">
            INTEGRATION WITH POPULAR SOFTWARE
          </p>
          <h3
            style="
              font-family: 'Mulish', sans-serif;
              font-size: 36px;
              overflow-y: hidden;
            "
          >
            Access all of yout information in <br />
            one place
          </h3>
          <br /><br />
          <p style="font-family: 'Mulish', sans-serif; font-size: 18px">
            Whether you use Amazon, Apple, Quickbooks, Salesforce, Shopify, Xero
            or others, Fishbowl’s automated inventory management software pulls
            exactly what you need to see everything in one spot.
          </p>
          <br />
          <button>Sign up to use</button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <img src="../../assets/ivm1.png" alt="" />
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-6 col-xl-12">
        <div class="lastsect">
          <h2 style="font-family: 'Mulish', sans-serif; font-size: 60px">
            Let's Get Started
          </h2>
          <p>A fully integrated and efficient inventory management system?</p>
          <p style="margin-left: 180px">Yes please</p>
          <button style="margin-left: 160px">Sign up to use</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
        >MDBootstrap.com</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
