<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
      <div class="updateform px-5">
        <div class="listproduct">
          <form #form="ngForm" (ngSubmit)="confirmBox()">
            <h2 style="color: rgb(88, 84, 84);">Update Information</h2>
            <label for="id" class="">Product Id:</label><br />
            <input
              type="text"
              id="id"
              readonly
              name="id"
              [(ngModel)]="updateDetails.id"
            />
            <br />
            <label for="productName" class="mx-">Product Name:</label>
            <br />
            <input
              type="text"
              id="Name"
              style="width: 300px"
              name="Name"
              [(ngModel)]="updateDetails.productName"
            />
            <br />
            <label for="quantity">Enter quantity:</label>
            <br />
            <input
              type="number"
              id="quantity"
              name="quantity"
              [(ngModel)]="updateDetails.quantity"
            />
            <br />
            <label for="Price">Cost:</label>
            <br />
            <input
              type="number"
              id="price"
              name="price"
              [(ngModel)]="updateDetails.costPrice"
            />
            <br />
            <label for="Price">Sell-Price:</label>
            <br />
            <input
              type="number"
              id="price"
              name="price"
              [(ngModel)]="updateDetails.sellPrice"
            />
            <br />
            <label for="Category">Enter Category:</label>
            <br />
            <input
              type="number"
              id="category"
              name="category"
              [(ngModel)]="updateDetails.category"
            />
            <br />
            <p style="color: red; font-size: smaller" class="mx-3">
              *Product status should be listed under the following<br />
              1.Available 2.Unavaialble 3.Low 4.Pending restock <br />
              5. Discontinued
            </p>
            <div class="btn">
              <button (click)="confirmBox()" id="button" value="Submit">
                Submit
              </button>
              <button type="button" id="button1" routerLink="/productlog">
                Back
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
