<Div class="row">
  <div class="formcard mx-3 mt-3">
    <div class="clientdetails mt-2">
      <form action="">
        <label for="AisleNumber">Aislenumber</label>
        <select name="" id="">
          1
        </select>
        <input type="text" id="userinfo" placeholder="Customer name" /> <input type="number" id="PhoneKey"  placeholder="Phone number" />
      </form>
    </div>
  </div>
  <div class="cartsys mt-2">
    <p style="color: red;font-weight: 600;" class="additems">Add items into Cart</p>
      <p id="prompt" style="margin-top:-10px;">item added to list</p>
    <div class="productSelect" style="margin-top:-10px;">
      <div class="prodSell">
        <label class="mt-4 mx-3"for="product-selection" style="color: red;font-weight: 600;">Search Product:</label>
        <input type="text" style="width:250px;" class="mx-5" placeholder="search product name" />
        <label class="mx-3" style="color: red;font-weight: 600;" for="quantity">Enter quantity:</label>
        <input class="mx-3" type="number" placeholder="Enter quantity"/>
        <button class="mx-1" style="width:150px; border:none; background-color:brown; color: aliceblue;">Add item</button>
      </div>
    </div>
    <div class="ordersectn">
      <p class="additems" style="color: red;font-weight: 600;">Order item Details</p>
      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
          <th>Company</th>
          <th>Total cost</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <p id="totalz">Total:<span>0</span></p>
      </table>
    </div>
  </div>
</Div>
