* {
  overflow-x: hidden;
  background-color: white;
  margin: 0px;
  padding: 0px;
}
hr {
  color: #624f74 !important;
}
h5 {
  background-color: white;
}
.report {
  /* border: 1px solid grey; */
  width: 250px;
  height: 100px;
  margin-top: 10px;
  margin-left: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 20px 20px;
  border-radius: 2px;
}

.report img {
  background-color: #624f74;
}

.report p {
  background-color: rgb(72, 76, 127) !important;
}
.reportcard {
  display: flex;
}
.reportdetails {
  margin-top: 10px;
  margin-left: 30px;
  background-color: #624f74;
  color: white;
}
span {
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(72, 76, 127);
}
.toploader {
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  width: 300px;
}
.reportcard {
  display: flex;
  justify-content: space-between;
}
.reportdetails {
  margin-top: 10px;
  /* margin-left: 10px; */
  /* background-color: #624F74; */
  color: black;
  background-color: rgb(72, 76, 127);
}

span {
  background-color: white;
}
.reportdetails p {
  overflow-y: hidden;
}

.reportdetails img {
  background-color: white;
}

.mnk1 {
  margin-top: 12px;
}

.greeting {
  margin-top: 10px;
  overflow-y: hidden;
  /* margin-left: 15px; */
  background-color: white;
}

.greeting h3 {
  overflow-y: hidden;
}
.charts {
  display: flex;
}
#storelog {
  height: 60px;
  width: 60px;
  margin-top: 5px;
}
.blue {
  background-color: #00779a;
  height: 70px;
  width: 80px;
}
.customdisplay {
  border: px solid black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 900px;
}

.updatesection {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  height: 350px;
  width: 550px;
  /*  */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#imgx {
  height: 300px;
  width: 212px;
  background-color: white;
  /* margin-left: 10px; */
}
.col-lg-2 {
  background-color: #fafafa;
}
.row {
  margin: 0px 0px;
}
.col-lg-9 mx-5 mt-1 {
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}

.sales-history {
  /* height: 300px; */
  width: 150px;
  height: 100px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 30px;
}
.container-fluid {
  padding: 0px 0px;
}

.content {
  margin-top: 40px;
  margin-left: 30px;
}
.content p {
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content p span {
  font-size: 30px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.sales-history {
  height: 400px;
  width: 400px;
}
#avatar {
  height: 60px;
}
.col-lg-9 {
  background-color: #fafafa;
  height: 90vh;
}

small {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.col-md-6 col-sm-6 col-lg-6 col-xl-4 {
  padding: 2px;
}
.kit {
  padding: 2px;
}

.mink {
  margin: 0px 0px;
}
/* .row>*{
  width: 0%;
    max-width: 0%;
    padding-right: 0%;
    padding-left: 0%;
} */
@media (max-width: 750px) {
  .toplid {
    display: block;
  }
  .reportcard {
    display: block;
  }
  .sales-history {
    margin-top: 2em;
    min-width: 100%;
  }
  .updatesection {
    margin-top: 2em;
    margin-left: 0;
  }
}
