* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* .col-lg-4 {
  height: 98vh;
} */
.loginsect {
  margin-top: 40px;
  /* border: 1px solid grey; */
  height: 500px;
  width: 400px;
  margin-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h1 {
  margin-left: 80px;
}
.formbit{
  margin-top: 50px;
  margin-left: -20px;
}
.form {
  margin-left: 90px;
  margin-top: 30px;
}

input {
  /* border: none; */
  box-shadow: 5px 5px #888888;
  height: 40px;
  width: 250px;
  padding: 12px 20px;
}

#btn {
  width: 250px;
  height: 40px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
}
#btn:hover {
  background-color: aqua;
}

a {
  text-decoration: none;
  margin-left: 70px;
}
.linkz {
  margin-left: -50px;
}
#btn:hover {
  background-color: blue;
}
/* second section */

.spac {
  background-image: url(../../assets/undraw_reminder_re_fe15.svg);
  /* height: 90vh; */
  height: 350px;
  width: 100wh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 100px;
}

.spac h1 {
  margin-top: 200px;
  color: aliceblue;
  font-weight: 600;
}

.spac p {
  color: aliceblue;
  margin-left: 250px;
  background-color: #888888;
  width: 330px;
  font-size: larger;
  text-align: center;
}

.overlay {
  height: 650px;
  width: 850px;
  background-color: rgba(25, 2, 2, 0.6);
  margin-left: 40px;
}



/* @media (max-width: 780px) {
  .spac {
    display: none;
  }
  .overlay {
    display: none;
  }
  *[_ngcontent-rgu-c51] {
    overflow-y: none;
  }

  .loginsect {
    align-items: center;
  }
  .spac h1 {
    align-items: center;
  }

  .spac p {
    align-items: center;
  }
  *[_ngcontent-trp-c51] {
    margin: none;
  }

  .col-lg-8 {
    display: none;
  }

  h1 {
    margin-left: 130px;
  }
  input {
    margin-left: 30px;
  }
} */
