<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <app-sidenav></app-sidenav>
    </div>
    <div class=" col-md-12 col-sm-12 col-lg-6 col-xl-6">
      <div class="row wrapper">
         <!-- <h5>New inventory Information</h5> -->
      <div class="listproduct">
        <form #form="ngForm" (ngSubmit)="addProduct()">
          <label for="productName" id="topbtn" class="mt-3 mx-2"
            >Product Name:</label
          > <br>
          <input
            type="text"
            id="productName"
            name="productName"
            [(ngModel)]="addProductRequest.productName"
            style="width:300px"
            class="mx-"
            counter="disable"
          />
          <br />
          <label for="quantity" class="mt-3 mx-3">Enter quantity:</label> <br>
          <input
            type="number"
            min="1"
            id="quantity"
            name="quantity"
            [(ngModel)]="addProductRequest.quantity"
          />
          <br />
          <label for="Price" class="mt-3 mx-3">Cost:</label><br>
          <input
            type="number"
            min="1"
            id="price"
            name="price"
            [(ngModel)]="addProductRequest.costPrice"
          />
          <br />
          <label for="Price" class="mt-3 mx-3">Price:</label> <br>
          <input
            type="number"
            min="1"
            id="price"
            name="price"
            [(ngModel)]="addProductRequest.sellPrice"
          />
          <br />
          <label for="Category" class="mt-3 mx-3">Status:</label> <br>
          <input
            type="number"
            min="1"
            max="5"
            id="Category"
            name="Category"
            [(ngModel)]="addProductRequest.category"
          />
          <br />
          <p style="color: red; font-size: smaller" class="mx-3">
            *Product status should be listed under the following<br />
            1.Available 2.Unavaialble 3.Low 4.Pending restock <br> 5. Discontinued
          </p>
          <div class="btn">
            <input type="submit" (click)="addProduct()" (click)="alertWithSuccess()" [routerLink]="['/productlog']" routerLinkActive="router-link-active"  id="button" value="Submit" />
            <input type="button" type="submit" routerLink="/overview" id="button1" value="Back" />
          </div>
        </form>
      </div>
      </div>
     
    </div>
  </div>
</div>
