<!-- Normal sidebar -->
<div
  class="container-fluid"
  style="background-color: #484c7f; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
>
  <div class="content">
    <div class="sidebar">
      <div class="logobit">
        <h2>RMS</h2>
      </div>
      <div class="sidelinks">
        <div class="links d-flex">
          <img src="../../assets/house-door-fill.svg" alt="" />
          <!-- <a routerLink="/overview/{{ user.data.id }}">Home</a> -->
         <a routerLink="overview/:id">Home</a> 
        </div>
        <div class="links d-flex">
          <img src="../../assets/archive-fill.svg" alt="" />
          <a routerLink="/productlog">Reports</a>
        </div>
        <div class="links d-flex">
          <img src="../../assets/bookmark-check-fill.svg" alt="" />
          <a routerLink="/addproduct">New listing</a>
        </div>
        <div class="links d-flex">
          <img src="../../assets/house-door-fill.svg" alt="" />
          <a routerLink="/activitylog">Activity Log</a>
        </div>
        <div class="links d-flex">
          <img src="../../assets/cart-check-fill.svg" alt="" />
          <a routerLink="/makesale">POS</a>
        </div>
        <div class="links d-flex">
          <img src="../../assets/fingerprint.svg" alt="" />
          <a routerLink="/addStaff">Add Staff</a>
        </div>
        <!-- <div class="links d-flex">
          <img src="../../assets/fingerprint.svg" alt="" />
          <a routerLink="/staffdashboard">Staff Dash</a>
        </div> -->
        <!-- <div class="links d-flex">
          <img src="../../assets/house-door-fill.svg" alt="" />
          <a routerLink="/overview">Suppliers</a>
        </div> -->
        
      </div>
      <div class="downlog mx-2">
        <img src="../../assets/power.svg" alt="" />
        <a (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</div>
