<div class="container-fluid body" style=" background-color: #4e73df;">
  <div class="page py-5">
    <div class="wrapperx py-5 d-flex ">
      <img src="../../assets/forgotpassword1.jpg" alt="sad puppy" style="height: 400px;width: 400px;"/>
      <div class="forgotpass">
        <h3 class="mt-5 mx-5">Forgot your password?</h3>
        <p class="mx-3">
          We get it, things like this happen. Just enter your email 
          address <span class="mx-4">below and we'll send you a link to
          reset your password!</span> 
        </p>
        <input type="email" class="mx-5" style="width:300px; height: 40px; border-radius:10px; border:none;" placeholder="Enter Email Address..." /><br />
        <br>
        <button style="width:300px; border:none; background-color: #4e73df; height: 40px;border-radius: 10px; color: white;" class="mx-5">Reset Password</button>
        <hr />
        <a href="#" style="display: block">Create an Account</a>
        <a href="#">Already have an account? login!</a>
      </div>
    </div>
  </div>
</div>
