body{
    padding: 0;
    margin: 0;
    background-color: #4e73df;
}

.body{
    min-height: 100vh;
}
.forgotpass{
    background-color: antiquewhite;
    height: 400px;
    width: 500px;
}

.wrapperx{
    margin-left: 220px;
}

a{
    margin-left: 80px;
}

p{
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}