<div class="container-fluid">
  <section
    class="signup"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    "
  >
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="formcrate">
          <h3 class="text-center mt-3 mb-3">CREATE AN ACCOUNT</h3>

          <form action="">
            <input type="text" placeholder="Your Name" /><br />
            <input type="text" placeholder="Your Email" /><br />
            <input type="text" placeholder="Password" /><br />
            <input type="text" placeholder="Repeat your password" /> <br />
            &nbsp;
            <p style="font-size:smaller; margin-left: 50px;">I agree to all statements in terms and conditions</p>
            <button>REGISTER</button>
            <p class="mt-2" style="margin-left:60px;">Already have an account?<a href="">Login here</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
