<!-- <div class="container-fluid">
  This navbar is only displayed on mobile screens
  <app-navbar></app-navbar>
  <div class="row">
    <div
      class="col-2 sidenav shadow-lg"
      style="background-color: #ffff; color: rgb(93, 6, 6)"
    >
      <nav class="sidebar mt-1">
        <h3>RMS SYSTEMS</h3>
          <div class="navigation">
            <p>Dashboard</p>
            <ul class="text-center">
              <li class="text-center">
                <i class="fa-regular fa-grid-horizontal"></i>
                <a href="/dashboard">Overview</a>
              </li>
              <li><a href="/makesale">Make Sale</a></li>
              <li><a href="/dashboard">Sales History</a></li>
            </ul>
            <p class="mx-4">Products</p>
            <ul class="text-center">
              <li><a href="/addproduct">Add products</a></li>
              <li><a href="/updateproduct">Update Product</a></li>
              <li><a href="">Delete product</a></li>
              <li><a href="">Recently Deleted</a></li>
              <li></li>
            </ul>

            <p>Company</p>
            <ul class="text-center">
              <li><a href="">Company info</a></li>
              <li><a href="">Add category</a></li>
              <li><a href="">Dashboard</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
        <div class="logout">
          <ul>
            <li><a href="">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-10">
      user account section
      <div class="row topsctnn">
        <div class="usersectn mt-3">
          <p>THUR 15th JULY, 2022 06:21PM</p>
          <div class="account">
            <i class="fa-solid fa-user-check mx-2 mt-1"></i>
            <p class="mx-2">Hakeem Dickson</p>
            <div class="dropdown">
              <i class="fa-solid fa-caret-down"></i>
              <div class="dropdown-content">
                <a href="#">View profile</a>
                <a href="#">Logout</a>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
      overview section
      <!-- <app-overview></app-overview> -->
      <!-- <app-make-sale></app-make-sale>
        <app-update-products></app-update-products>
        <app-inventory-catlg></app-inventory-catlg> -->
      <!-- end of inventory list -->
      <!-- start of slaes history section -->
    <!-- </div>
  </div>
</div> -->


 -->
